.DeceasedSelector {
  padding: 18px;
}

.DeceasedSelector-header {
  background: #6200ee;
  color: #fff;
  padding: 8px;
}

.DeceasedSelector-members {
  padding: 0;
}

.DeceasedSelector-member {
  padding: 12px;
  border: 1px solid #efefef;
  border-bottom: none;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.DeceasedSelector-deceased-member {
  grid-template-columns: auto 1fr auto auto;
  gap: 24px;
}

.DeceasedSelector-member:last-of-type {
  border: 1px solid #efefef;
}

.DeceasedSelector-ignored {
  background: #eee;
}

.DeceasedSelector-drag-handler {
  cursor: row-resize;
  color: rgba(1,1,1, 0.6);
}

.DeceasedSelector-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}